* {
    font-family: 'Roboto Condensed', sans-serif;
}

canvas {
    display: none;
}

img {
    border: 1px solid #ddd;
    /* box-shadow: 0 0 12px 4px #ddd; */
}

.text-0 {
    font-size: 14px;
    margin: 8px 0;
    /* padding: 0 16px; */
    /* font-style: italic; */
}

.color-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-end; */
    border: 2px solid #1363DF;
    padding: 4px 16px;
    margin: 4px 0;
    /* width: fit-content; */
    /* height: 32px; */
    width: 50%;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}
.color-0 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}
.color-0 .box {
    width: 32px;
    height: 32px;
    margin: 0 16px;
    border: 1px solid #ddd;
}
.color-0 .hex-code {
    font-size: 20px;
    /* border: 1px solid #000; */
}

.imageSelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    /* flex-direction: row-reverse; */
    /* border: 1px solid #000; */
}

.lfw {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

#lfw-input {
    height: 32px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
    width: 100%;
}
#lfw-btn {
    color: #fff;
    background: #1363DF;
    border: 1px solid #1363DF;
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
}

.uf {
    background: #1363DF;
    /* width: fit-content; */
    /* width: 100%; */
    color: #fff;
    padding: 0 8px;
    height: 32px;
    line-height: 26px;
    cursor: pointer;
    font-size: 14px;
}

#uf-input {
    width: 1px;
    height: 1px;
}


.pallete {
    border-left: 3px solid #ddd;
    padding-left: 16px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    height: 80px;
    border: none;
    margin-right: 32px;
}